img {
    width: 30%;
    height: 200px;
}

.first-line {
    font-size: 30px;
    color:blue;
}

.body-text {
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
}

#hobbies-text li {
    color: red;
    background: cyan;
}